In [1]:
# Importing required libraries
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import warnings
warnings.filterwarnings('ignore')
import sqlalchemy
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, text
import pandas as pd
import sqlalchemy
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, text
from sklearn import linear_model, decomposition, datasets
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, precision_score, recall_score, auc,roc_curve
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
engine_cloud = sqlalchemy.create_engine('postgresql://postgres:Lola2022%21@localhost:5432/Education_Preformance')

In [3]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine_cloud, reflect=True)

In [4]:
# We can view all of the classes that automap found
Base.classes.keys()

['student_exams', 'demographics', 'exam_scores']

In [5]:
# Save reference for table
student_exams = Base.classes.student_exams

In [6]:
session = Session(engine_cloud)

In [7]:
# Write a query in SQLALchemy
query = session.query(student_exams)

In [8]:
df = pd.DataFrame(engine_cloud.connect().execute(text(str(query))))
df.columns = ['Student_ID', 'Sex', 'Ethnicity', 'PLE', 'Lunch', 'Test_Prep',  'Math_Score', 'Reading_Score', 'Writing_Score']
df

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,59,70,78
1,2,male,group D,associate degree,standard,none,96,93,87
2,3,female,group D,some college,reduced,none,57,76,77
3,4,male,group B,some college,reduced,none,70,70,63
4,5,female,group D,associate degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...,...
995,996,male,group C,some college,standard,none,77,77,71
996,997,male,group C,some college,standard,none,80,66,66
997,998,female,group A,high school,standard,completed,67,86,86
998,999,male,group E,high school,standard,none,80,72,62
999,1000,male,group D,high school,standard,none,58,47,45

In [9]:
#Identify Math Score outliers based on EDA 
df.loc[(df.Math_Score) <= 24]

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
72,73,female,group C,some high school,standard,none,23,33,33
228,229,male,group C,high school,reduced,none,20,25,15
480,481,female,group C,high school,standard,none,21,30,26
586,587,female,group D,high school,reduced,none,15,39,40
693,694,female,group C,high school,reduced,none,24,48,46

In [10]:
#Drop Math Score outliers based on EDA 
df.drop(df[df["Math_Score"] <= 24].index, inplace = True)
df

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,59,70,78
1,2,male,group D,associate degree,standard,none,96,93,87
2,3,female,group D,some college,reduced,none,57,76,77
3,4,male,group B,some college,reduced,none,70,70,63
4,5,female,group D,associate degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...,...
995,996,male,group C,some college,standard,none,77,77,71
996,997,male,group C,some college,standard,none,80,66,66
997,998,female,group A,high school,standard,completed,67,86,86
998,999,male,group E,high school,standard,none,80,72,62
999,1000,male,group D,high school,standard,none,58,47,45

In [11]:
#Identify Reading Score outliers based on EDA 
df.loc[(df.Reading_Score) <= 32]

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
376,377,male,group C,high school,standard,none,31,27,19
513,514,female,group C,associate degree,reduced,none,28,32,28
982,983,male,group C,some high school,standard,none,28,27,23

In [12]:
#Drop Reading Score outliers based on EDA 
df.drop(df[df["Reading_Score"] <= 32].index, inplace = True)
df

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,59,70,78
1,2,male,group D,associate degree,standard,none,96,93,87
2,3,female,group D,some college,reduced,none,57,76,77
3,4,male,group B,some college,reduced,none,70,70,63
4,5,female,group D,associate degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...,...
995,996,male,group C,some college,standard,none,77,77,71
996,997,male,group C,some college,standard,none,80,66,66
997,998,female,group A,high school,standard,completed,67,86,86
998,999,male,group E,high school,standard,none,80,72,62
999,1000,male,group D,high school,standard,none,58,47,45

In [13]:
#Identify Writing Score outliers based on EDA 
df.loc[(df.Writing_Score) <= 27]

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
762,763,male,group C,high school,reduced,none,34,37,27

In [14]:
#Drop Math Score outliers based on EDA 
df.drop(df[df["Writing_Score"] <= 27].index, inplace = True)
df

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,59,70,78
1,2,male,group D,associate degree,standard,none,96,93,87
2,3,female,group D,some college,reduced,none,57,76,77
3,4,male,group B,some college,reduced,none,70,70,63
4,5,female,group D,associate degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...,...
995,996,male,group C,some college,standard,none,77,77,71
996,997,male,group C,some college,standard,none,80,66,66
997,998,female,group A,high school,standard,completed,67,86,86
998,999,male,group E,high school,standard,none,80,72,62
999,1000,male,group D,high school,standard,none,58,47,45

In [15]:
##Convert math scores 70 and over to 1 and scores below 70 to 0
df.loc[df["Math_Score"] < 70, "Math_Score"] = 0
df.loc[df["Math_Score"] >= 70, "Math_Score"] = 1

In [16]:
df.dtypes

Student_ID        int64
Sex              object
Ethnicity        object
PLE              object
Lunch            object
Test_Prep        object
Math_Score        int64
Reading_Score     int64
Writing_Score     int64
dtype: object

In [17]:
# Create our features
X = df.drop(['Math_Score','Student_ID','Writing_Score'], axis=1)
X = pd.get_dummies(X, dtype="int64")

feature_names = X.columns.tolist()

# Create our target
y = df.loc[:, "Math_Score"].copy()

In [18]:
y = df["Math_Score"]

y.value_counts()

0    527
1    464
Name: Math_Score, dtype: int64

In [19]:
X.shape

(991, 18)

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)

In [21]:
model = LogisticRegression()

In [22]:
param_grid = [    
    {'penalty' : ['l1', 'l2', 'elasticnet', 'none'],
    'C' : np.logspace(-4, 4, 20),
    'solver' : ['lbfgs','newton-cg','liblinear','sag','saga'],
    'max_iter' : [100, 1000,2500, 5000]
    }
]

In [23]:
clf = GridSearchCV(model, param_grid = param_grid, cv = 3, verbose=True, n_jobs=-1)

In [24]:
best_clf = clf.fit(X_train,y_train)

Fitting 3 folds for each of 1600 candidates, totalling 4800 fits

In [25]:
best_clf.best_estimator_

LogisticRegression(C=1.623776739188721, solver='liblinear')

In [29]:
# Calculated the accuracy score

y_pred = best_clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.8911290322580645

In [32]:
print (f'Accuracy - : {best_clf.score(X_test,y_test):.3f}')

Accuracy - : 0.891

In [37]:
# best_clf_test = clf.fit(X_test,y_test)

In [38]:
# best_clf_test.best_estimator_

In [39]:
# # Calculated the accuracy score

# y_pred = best_clf_test.predict(X_test)
# accuracy_score(y_test, y_pred)

In [40]:
# print (f'Accuracy - : {best_clf_test.score(X_test,y_test):.3f}')