In [1]:
# Importing required libraries
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import warnings
warnings.filterwarnings('ignore')
import sqlalchemy
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, text
import pandas as pd
import sqlalchemy
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, text
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import accuracy_score
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import confusion_matrix, precision_score, recall_score, auc,roc_curve
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [2]:
engine_cloud = sqlalchemy.create_engine('postgresql://postgres:Lola2022%21@localhost:5432/Education_Preformance')

In [3]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine_cloud, reflect=True)

In [4]:
# We can view all of the classes that automap found
Base.classes.keys()

['demographics', 'exam_scores', 'student_exams']

In [5]:
# Save reference for table
student_exams = Base.classes.student_exams

In [6]:
session = Session(engine_cloud)

In [7]:
# Write a query in SQLALchemy
query = session.query(student_exams)

In [8]:
df = pd.DataFrame(engine_cloud.connect().execute(text(str(query))))
df.columns = ['Student_ID', 'Sex', 'Ethnicity', 'PLE', 'Lunch', 'Test_Prep',  'Math_Score', 'Reading_Score', 'Writing_Score']
df

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,59,70,78
1,2,male,group D,associate degree,standard,none,96,93,87
2,3,female,group D,some college,reduced,none,57,76,77
3,4,male,group B,some college,reduced,none,70,70,63
4,5,female,group D,associate degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...,...
995,996,male,group C,some college,standard,none,77,77,71
996,997,male,group C,some college,standard,none,80,66,66
997,998,female,group A,high school,standard,completed,67,86,86
998,999,male,group E,high school,standard,none,80,72,62
999,1000,male,group D,high school,standard,none,58,47,45

In [9]:
#Drop Math Score outliers based on EDA 
df.drop(df[df["Math_Score"] <= 24].index, inplace = True)
df

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,59,70,78
1,2,male,group D,associate degree,standard,none,96,93,87
2,3,female,group D,some college,reduced,none,57,76,77
3,4,male,group B,some college,reduced,none,70,70,63
4,5,female,group D,associate degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...,...
995,996,male,group C,some college,standard,none,77,77,71
996,997,male,group C,some college,standard,none,80,66,66
997,998,female,group A,high school,standard,completed,67,86,86
998,999,male,group E,high school,standard,none,80,72,62
999,1000,male,group D,high school,standard,none,58,47,45

In [10]:
#Drop Reading Score outliers based on EDA 
df.drop(df[df["Reading_Score"] <= 32].index, inplace = True)
df

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,59,70,78
1,2,male,group D,associate degree,standard,none,96,93,87
2,3,female,group D,some college,reduced,none,57,76,77
3,4,male,group B,some college,reduced,none,70,70,63
4,5,female,group D,associate degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...,...
995,996,male,group C,some college,standard,none,77,77,71
996,997,male,group C,some college,standard,none,80,66,66
997,998,female,group A,high school,standard,completed,67,86,86
998,999,male,group E,high school,standard,none,80,72,62
999,1000,male,group D,high school,standard,none,58,47,45

In [11]:
#Drop Math Score outliers based on EDA 
df.drop(df[df["Writing_Score"] <= 27].index, inplace = True)
df

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,59,70,78
1,2,male,group D,associate degree,standard,none,96,93,87
2,3,female,group D,some college,reduced,none,57,76,77
3,4,male,group B,some college,reduced,none,70,70,63
4,5,female,group D,associate degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...,...
995,996,male,group C,some college,standard,none,77,77,71
996,997,male,group C,some college,standard,none,80,66,66
997,998,female,group A,high school,standard,completed,67,86,86
998,999,male,group E,high school,standard,none,80,72,62
999,1000,male,group D,high school,standard,none,58,47,45

In [12]:
##Convert math scores 70 and over to 1 and scores below 70 to 0
df.loc[df["Math_Score"] < 70, "Math_Score"] = 0
df.loc[df["Math_Score"] >= 70, "Math_Score"] = 1

In [13]:
# Create our features
X = df.drop(['Math_Score','Student_ID', 'Writing_Score'], axis=1)
X = pd.get_dummies(X, dtype="int64")

feature_names = X.columns.tolist()

# Create our target
y = df.loc[:, "Math_Score"].copy()

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)

In [15]:
# Resample the training data with the RandomOversampler

# from imblearn.over_sampling import RandomOverSampler

# ros = RandomOverSampler(random_state=1)
# X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

In [16]:
# Creating StandardScaler instance
# scaler = StandardScaler()

# # Fitting Standard Scaler
# X_scaler = scaler.fit(X_train)

# # Scaling data
# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

#solver='lbfgs', random_state=1

Logistic_reg_model = LogisticRegression(C=1.623776739188721, solver='liblinear')
Logistic_reg_model.fit(X_train, y_train)

# LogisticRegression(C=1.623776739188721, solver='liblinear')
# LogisticRegression(solver='sag',penalty='none',max_iter=1000

LogisticRegression(C=1.623776739188721, solver='liblinear')

In [18]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

y_pred = Logistic_reg_model.predict(X_test)
accuracy_score(y_test, y_pred)

0.8911290322580645

In [19]:
# # Instantiate a linear SVM model
from sklearn.svm import SVC
SVC_model = SVC(kernel='linear')

In [20]:
# Fit the data
SVC_model.fit(X_train, y_train)

SVC(kernel='linear')

In [21]:
# Make predictions using the test data
y_pred = SVC_model.predict(X_test)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)

results.head()

   Prediction  Actual
0           1       1
1           0       0
2           0       0
3           1       1
4           1       1

In [22]:
# from sklearn.metrics import accuracy_score
# accuracy_score(y_test, y_pred)

In [23]:
# Resample the training data with the BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brf.fit(X_train, y_train)
# y_pred_brf = brf.predict(X_test)

BalancedRandomForestClassifier(random_state=1)

In [24]:
# print("Balanced Random Forest classifier performance:")
# print(
#     f"Balanced accuracy: {balanced_accuracy_score(y_test, y_pred_brf):.2f} - "
#     f"Geometric mean {geometric_mean_score(y_test, y_pred_brf):.2f}"
# )

In [25]:
# Choose a learning rate and create classifier
GBClassifier = GradientBoostingClassifier(n_estimators=250,
                                        learning_rate=0.1,
                                        max_features=4,
                                        max_depth=1)

# Fit the model
GBClassifier.fit(X_train, y_train)

# Make Prediction
predictions = GBClassifier.predict(X_test)
# pd.DataFrame({"Prediction": predictions, "Actual": y_test}).head(20)
# 'learning_rate': 0.1, 'max_depth': 1, 'max_features': 4, 'n_estimators': 250

In [26]:
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.8790322580645161

In [27]:
#Fitting K-NN classifier to the training set  
from sklearn.neighbors import KNeighborsClassifier  
KNN_classifier= KNeighborsClassifier(n_neighbors=17, metric='manhattan', weights='distance')  
KNN_classifier.fit(X_train, y_train)

KNeighborsClassifier(metric='manhattan', n_neighbors=17, weights='distance')

In [28]:
# #Predicting the test set result  
# y_pred= KNN_classifier.predict(X_test)

In [29]:
# Create dictionary of models
models = {
    "SVC": SVC(),
    "LogisticRegression": LogisticRegression(),
    "BalancedRandomForestClassifier": BalancedRandomForestClassifier(),
    "GradientBoostingClassifier": GradientBoostingClassifier(),
    "KNeighborsClassifier" : KNeighborsClassifier()
    
}

# Store model result
model_results = []
model_names = []

# Train the models
for name,model in models.items():
    history = model.fit(X_train, y_train)
    preds = history.predict(X_test)
    score = balanced_accuracy_score(y_test, preds)
    model_results.append(score)
    model_names.append(name)
    
    # Create dataframe and print results
    df_results = pd.DataFrame([model_names, model_results])
    df_results = df_results.transpose()
    df_results = df_results.rename(columns={0:'Model', 1:'Accuracy'}).sort_values(by='Accuracy', ascending=False)
    
df_results

                            Model  Accuracy
3      GradientBoostingClassifier  0.883679
1              LogisticRegression  0.880133
4            KNeighborsClassifier  0.831717
2  BalancedRandomForestClassifier  0.830936
0                             SVC  0.819906