In [1]:
import sqlalchemy
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, text
import pandas as pd

In [21]:
engine_cloud = sqlalchemy.create_engine('postgresql://postgres:Lola2022%21@localhost:5432/Education_Preformance')

In [3]:
# connection = engine.connect()

In [4]:
# metadata = sqlalchemy.MetaData()

In [5]:
# exam_scores_table = sqlalchemy.Table('exam_scores', metadata, autoload=True, autoload_with=engine, schema=None)

In [6]:
# engine.get_table_names()

In [7]:
# pd.read_sql_table('exam_scores', con = engine)

In [8]:
# import urllib.parse
# urllib.parse.quote_plus("!")

In [22]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine_cloud, reflect=True)

C:\Users\jessv\AppData\Local\Temp\ipykernel_18696\4281676870.py:4: SADeprecationWarning: The AutomapBase.prepare.reflect parameter is deprecated and will be removed in a future release.  Reflection is enabled when AutomapBase.prepare.autoload_with is passed.
  Base.prepare(engine_cloud, reflect=True)

In [23]:
# We can view all of the classes that automap found
Base.classes.keys()

['demographics', 'exam_scores', 'student_exams']

In [24]:
# Save references to each table
exam_scores = Base.classes.exam_scores
demographics = Base.classes.demographics
student_exams = Base.classes.student_exams

In [25]:
session = Session(engine_cloud)

In [48]:
# Write a query in SQLALchemy
query = session.query(exam_scores)

In [55]:
df = pd.DataFrame(engine_cloud.connect().execute(text(str(query))))
df.columns = ['Student_ID', 'Math_Score', 'Reading_score', 'Writing_Score']
df

     Student_ID  Math_Score  Reading_score  Writing_Score
0             1          59             70             78
1             2          96             93             87
2             3          57             76             77
3             4          70             70             63
4             5          83             85             86
..          ...         ...            ...            ...
995         996          77             77             71
996         997          80             66             66
997         998          67             86             86
998         999          80             72             62
999        1000          58             47             45

[1000 rows x 4 columns]

In [ ]:
# results = []
# results = session.query(student_exams.Sex).all()
# print(results)

In [ ]:
# # Open a cursor to perform database operations
# cur = engine.cursor()

# # Execute a query
# cur.execute("SELECT * FROM my_data")