In [1]:
# Importing required libraries
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import warnings
warnings.filterwarnings('ignore')
import sqlalchemy
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, text
import pandas as pd
import sqlalchemy
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, text
from sklearn.datasets import load_iris

In [2]:
# # Load the student_exams.csv dataset.
# file_path = "Resources/student_exams.csv"
# df = pd.read_csv(file_path)
# df.head(10)

In [3]:
engine_cloud = sqlalchemy.create_engine('postgresql://postgres:Lola2022%21@localhost:5432/Education_Preformance')

In [4]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine_cloud, reflect=True)

In [5]:
# We can view all of the classes that automap found
Base.classes.keys()

['exam_scores', 'student_exams', 'demographics']

In [6]:
# Save reference for table
student_exams = Base.classes.student_exams

In [7]:
session = Session(engine_cloud)

In [8]:
# Write a query in SQLALchemy
query = session.query(student_exams)

In [9]:
df = pd.DataFrame(engine_cloud.connect().execute(text(str(query))))
df.columns = ['Student_ID', 'Sex', 'Ethnicity', 'PLE', 'Lunch', 'Test_Prep',  'Math_Score', 'Reading_Score', 'Writing_Score']
df.head(10)

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,59,70,78
1,2,male,group D,associate degree,standard,none,96,93,87
2,3,female,group D,some college,reduced,none,57,76,77
3,4,male,group B,some college,reduced,none,70,70,63
4,5,female,group D,associate degree,standard,none,83,85,86
5,6,male,group C,some high school,standard,none,68,57,54
6,7,female,group E,associate degree,standard,none,82,83,80
7,8,female,group B,some high school,standard,none,46,61,58
8,9,male,group C,some high school,standard,none,80,75,73
9,10,female,group C,bachelor degree,standard,completed,57,69,77

In [10]:
##Convert math scores 70 and over to 1 and scores below 70 to 0
df.loc[df["Math_Score"] < 70, "Math_Score"] = 0
df.loc[df["Math_Score"] >= 70, "Math_Score"] = 1

In [11]:
df.dtypes

Student_ID        int64
Sex              object
Ethnicity        object
PLE              object
Lunch            object
Test_Prep        object
Math_Score        int64
Reading_Score     int64
Writing_Score     int64
dtype: object

In [12]:
# feature_names = ['feature1', 'feature2', 'feature3', 'feature4', 'feature5', 'feature6', 'feature7', 'feature8', 'feature9', 'feature10', 'feature12', 'feature13', 'feature14', 'feature15', 'feature16', 'feature7', 'feature18', 'feature19']

In [13]:
# Create our features
X = df.drop(['Math_Score','Student_ID'], axis=1)
X = pd.get_dummies(X, dtype="int64")

feature_names = X.columns.tolist()

# Create our target
y = df.loc[:, "Math_Score"].copy()

In [28]:
feature_names

['Reading_Score',
 'Writing_Score',
 'Sex_female',
 'Sex_male',
 'Ethnicity_group A',
 'Ethnicity_group B',
 'Ethnicity_group C',
 'Ethnicity_group D',
 'Ethnicity_group E',
 'PLE_associate degree',
 'PLE_bachelor degree',
 'PLE_high school',
 'PLE_master degree',
 'PLE_some college',
 'PLE_some high school',
 'Lunch_reduced',
 'Lunch_standard',
 'Test_Prep_completed',
 'Test_Prep_none']

In [14]:
X.dtypes

Reading_Score           int64
Writing_Score           int64
Sex_female              int64
Sex_male                int64
Ethnicity_group A       int64
Ethnicity_group B       int64
Ethnicity_group C       int64
Ethnicity_group D       int64
Ethnicity_group E       int64
PLE_associate degree    int64
PLE_bachelor degree     int64
PLE_high school         int64
PLE_master degree       int64
PLE_some college        int64
PLE_some high school    int64
Lunch_reduced           int64
Lunch_standard          int64
Test_Prep_completed     int64
Test_Prep_none          int64
dtype: object

In [15]:
X.head()

,Reading_Score,Writing_Score,Sex_female,Sex_male,Ethnicity_group A,Ethnicity_group B,Ethnicity_group C,Ethnicity_group D,Ethnicity_group E,PLE_associate degree,PLE_bachelor degree,PLE_high school,PLE_master degree,PLE_some college,PLE_some high school,Lunch_reduced,Lunch_standard,Test_Prep_completed,Test_Prep_none
0,70,78,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,1,0
1,93,87,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1
2,76,77,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1
3,70,63,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1
4,85,86,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1

In [16]:
y = df["Math_Score"]

y.value_counts()

0    536
1    464
Name: Math_Score, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)

In [18]:
Counter(y_train)

Counter({0: 408, 1: 342})

In [19]:
# Resample the training data with the RandomOversampler

from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

In [20]:
Counter(y_resampled)

Counter({0: 408, 1: 408})

In [21]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [22]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.8916495901639344

In [23]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[116,  12],
       [ 15, 107]], dtype=int64)

In [24]:
# Print the imbalanced classification report

from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.89      0.91      0.88      0.90      0.89      0.80       128
          1       0.90      0.88      0.91      0.89      0.89      0.79       122

avg / total       0.89      0.89      0.89      0.89      0.89      0.79       250

In [25]:
# Get feature importances
coefficients = model.coef_.flatten()

In [26]:
# Normalize feature importances
normalized_coefficients = np.abs(coefficients) / np.sum(np.abs(coefficients))

In [40]:
# Print the feature importances
feature_importances = pd.DataFrame(
    {"Feature": feature_names, "Importance": normalized_coefficients}
)

# feature_importances.sort_values('Importance',ascending=False)

print(feature_importances.sort_values("Importance", ascending=False).to_string())

                 Feature  Importance
2             Sex_female    0.170952
17   Test_Prep_completed    0.125032
15         Lunch_reduced    0.123016
16        Lunch_standard    0.075103
18        Test_Prep_none    0.073087
6      Ethnicity_group C    0.053427
4      Ethnicity_group A    0.049639
12     PLE_master degree    0.047557
5      Ethnicity_group B    0.042125
10   PLE_bachelor degree    0.039587
7      Ethnicity_group D    0.039524
13      PLE_some college    0.033163
14  PLE_some high school    0.032763
3               Sex_male    0.027167
11       PLE_high school    0.025412
9   PLE_associate degree    0.019638
8      Ethnicity_group E    0.013405
1          Writing_Score    0.007097
0          Reading_Score    0.002306