In [1]:
# Importing required libraries
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.metrics import geometric_mean_score
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.datasets import make_classification
import sqlalchemy
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, text
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
# # Load the student_exams.csv dataset.
# file_path = "Resources/student_exams.csv"
# df = pd.read_csv(file_path)
# df.head(10)

In [3]:
engine_cloud = sqlalchemy.create_engine('postgresql://postgres:Lola2022%21@localhost:5432/Education_Preformance')

In [4]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine_cloud, reflect=True)

In [5]:
# We can view all of the classes that automap found
Base.classes.keys()

['exam_scores', 'student_exams', 'demographics']

In [6]:
# Save reference for table
student_exams = Base.classes.student_exams

In [7]:
session = Session(engine_cloud)

In [8]:
# Write a query in SQLALchemy
query = session.query(student_exams)

In [9]:
df = pd.DataFrame(engine_cloud.connect().execute(text(str(query))))
df.columns = ['Student_ID', 'Sex', 'Ethnicity', 'PLE', 'Lunch', 'Test_Prep',  'Math_Score', 'Reading_Score', 'Writing_Score']
df.head(10)

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,59,70,78
1,2,male,group D,associate degree,standard,none,96,93,87
2,3,female,group D,some college,reduced,none,57,76,77
3,4,male,group B,some college,reduced,none,70,70,63
4,5,female,group D,associate degree,standard,none,83,85,86
5,6,male,group C,some high school,standard,none,68,57,54
6,7,female,group E,associate degree,standard,none,82,83,80
7,8,female,group B,some high school,standard,none,46,61,58
8,9,male,group C,some high school,standard,none,80,75,73
9,10,female,group C,bachelor degree,standard,completed,57,69,77

In [10]:
#Drop Math Score outliers based on EDA 
df.drop(df[df["Math_Score"] <= 24].index, inplace = True)

#Drop Reading Score outliers based on EDA 
df.drop(df[df["Reading_Score"] <= 32].index, inplace = True)

#Drop Writing Score outliers based on EDA 
df.drop(df[df["Writing_Score"] <= 27].index, inplace = True)

df

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,59,70,78
1,2,male,group D,associate degree,standard,none,96,93,87
2,3,female,group D,some college,reduced,none,57,76,77
3,4,male,group B,some college,reduced,none,70,70,63
4,5,female,group D,associate degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...,...
995,996,male,group C,some college,standard,none,77,77,71
996,997,male,group C,some college,standard,none,80,66,66
997,998,female,group A,high school,standard,completed,67,86,86
998,999,male,group E,high school,standard,none,80,72,62
999,1000,male,group D,high school,standard,none,58,47,45

In [11]:
##Convert math scores 70 and over to 1 and scores below 70 to 0
df.loc[df["Math_Score"] < 70, "Math_Score"] = 0
df.loc[df["Math_Score"] >= 70, "Math_Score"] = 1

In [12]:
df

,Student_ID,Sex,Ethnicity,PLE,Lunch,Test_Prep,Math_Score,Reading_Score,Writing_Score
0,1,female,group D,some college,standard,completed,0,70,78
1,2,male,group D,associate degree,standard,none,1,93,87
2,3,female,group D,some college,reduced,none,0,76,77
3,4,male,group B,some college,reduced,none,1,70,63
4,5,female,group D,associate degree,standard,none,1,85,86
...,...,...,...,...,...,...,...,...,...
995,996,male,group C,some college,standard,none,1,77,71
996,997,male,group C,some college,standard,none,1,66,66
997,998,female,group A,high school,standard,completed,0,86,86
998,999,male,group E,high school,standard,none,1,72,62
999,1000,male,group D,high school,standard,none,0,47,45

In [13]:
# Create our features
X = df.drop(['Math_Score','Student_ID'], axis=1)
X = pd.get_dummies(X, dtype="int64")

# Create our target
y = df.loc[:, "Math_Score"].copy()

In [14]:
X.head()

,Reading_Score,Writing_Score,Sex_female,Sex_male,Ethnicity_group A,Ethnicity_group B,Ethnicity_group C,Ethnicity_group D,Ethnicity_group E,PLE_associate degree,PLE_bachelor degree,PLE_high school,PLE_master degree,PLE_some college,PLE_some high school,Lunch_reduced,Lunch_standard,Test_Prep_completed,Test_Prep_none
0,70,78,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,1,0
1,93,87,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1
2,76,77,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1
3,70,63,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1
4,85,86,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1

In [15]:
y

0      0
1      1
2      0
3      1
4      1
      ..
995    1
996    1
997    0
998    1
999    0
Name: Math_Score, Length: 991, dtype: int64

In [16]:
# Check the balance of our target values
y = df["Math_Score"]

y.value_counts()

0    527
1    464
Name: Math_Score, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)

In [18]:
# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Create a classifier object
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20,
                                            learning_rate=learning_rate,
                                            max_features=5,
                                            max_depth=3,
                                            random_state=1)

    # Fit the model
    classifier.fit(X_train_scaled, y_train)
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        classifier.score(
            X_train_scaled,
            y_train)))
    print("Accuracy score (validation): {0:.3f}".format(
        classifier.score(
            X_test_scaled,
            y_test)))
    print()

Learning rate:  0.05
Accuracy score (training): 0.863
Accuracy score (validation): 0.835

Learning rate:  0.1
Accuracy score (training): 0.894
Accuracy score (validation): 0.875

Learning rate:  0.25
Accuracy score (training): 0.900
Accuracy score (validation): 0.895

Learning rate:  0.5
Accuracy score (training): 0.931
Accuracy score (validation): 0.879

Learning rate:  0.75
Accuracy score (training): 0.939
Accuracy score (validation): 0.851

Learning rate:  1
Accuracy score (training): 0.934
Accuracy score (validation): 0.863

In [20]:
# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=20,
                                        learning_rate=0.75,
                                        max_features=5,
                                        max_depth=3,
                                        random_state=1)

# Fit the model
classifier.fit(X_train_scaled, y_train)

# Make Prediction
predictions = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).head(20)

     Prediction  Actual
664           1       1
733           0       0
337           0       0
684           1       1
95            1       1
303           1       1
686           0       1
238           1       1
109           1       1
812           1       1
856           1       1
120           1       1
850           1       1
486           1       1
446           0       0
240           1       0
6             1       1
953           1       1
838           0       0
899           1       1

In [21]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.8508064516129032

In [22]:
# Generate the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"]
)

# Displaying results
display(cm_df)

          Predicted 0  Predicted 1
Actual 0          107           14
Actual 1           23          104

In [23]:
# Generate classification report
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           0       0.82      0.88      0.85       121
           1       0.88      0.82      0.85       127

    accuracy                           0.85       248
   macro avg       0.85      0.85      0.85       248
weighted avg       0.85      0.85      0.85       248